# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/


# Node / TypeScript
node_modules/
dist/
build/
frontend/build
*.tsbuildinfo
.env.local
.env.development.local
.env.test.local
.env.production.local

#Supabase
.supabase/

#Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/